.blog header {
  margin-bottom: var(--line-height);
}

.blog .h-card {
  margin: calc(var(--line-height) * 0.5) 0;
}

.blog footer {
  margin-top: calc(calc(var(--line-height) * 2) - 1px);
  border-top: 1px solid var(--default-text-color-50);
}

.blog > header aside small {
  display: block;
}

.blog .blog__tags {
  display: flex;
}

.blog > header details {
  margin-bottom: calc(var(--line-height) * 2);
}

.blog > header summary {
  font-size: 0.8rem;
}

.blog__tags-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 1em;
  padding: 0;
}

.blog__tags-list-item::before {
  content: initial;
}
