.my-vision {
  background-color: var(--code-background);
}
.my-vision__quote {
  max-width: calc(var(--char-width) * 80);
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: var(--margin-m);
  margin-bottom: var(--margin-m);
  font-family: var(--font-code);
  font-variation-settings: "wght" 300;
  color: var(--code-keyword);
}
@media (--screen-small) and (--screen-medium-max) {
  .my-vision__quote {
    max-width: var(--char-width) * 66.66666;
  }
}

.my-vision__quote  blockquote {
  border: none;
  padding: 0;
}

.my-vision__variable {
  color: var(--code-text);
}

.my-vision__text {
  color: var(--code-keyword);
}

@media (--screen-xsmall) {
  .my-vision__text {
    color: var(--code-string);
  }
}
