---
  category: Like
  og: 
    type: artice
---

{% extends './page.njk' %}

{% block content %}
  <article class="like content-section h-entry">
    <header>
      <h1><a href="{{ url }}" class="u-like-of">{{ title }}</a></h1>
      <aside aria-label="post meta-data">
        <small>
          Liked at:
          <time class="dt-published" datetime="{{ date | formatDate('YYYY-MM-DD hh:mm:ss') }}">
            {{ date | formatDate('Do of MMMM, YYYY') }}
          </time>
        </small>
        <small>
          <a class="u-url"  href="{{ site.url + page.url }}">permalink<span class="visuallyhidden"> to this like</span></a>
        </small>
      </aside>
    </header>

    {% if silo === 'mastodon' or silo === 'twitter' %}
      <div class="e-content">
        {% if silo === 'mastodon' %}
          <a class="u-url" href="https://brid.gy/publish/mastodon" hidden></a>
        {% endif %}

        {% if silo === 'twitter' %}
          <a class="u-url" href="https://brid.gy/publish/twitter" hidden></a>
        {% endif %}
      </div>
    {% endif %}

    <footer aria-labelledby="this-is-me">
      <h2 id="this-is-me">This is me</h2>
      {% from './components/h-card/h-card.njk' import hCard %}
      {{ hCard(site.gravatar, 'author') }}
    </footer>
  </article>

{% endblock %}
