---
  timeSeperatorFormat: MMMM YYYY
  stylesheets:
   - overview.css
---

{% extends './page.njk' %}

{% block content %}
<section class="content-section h-feed">
  <h1 class="{% if showPageTitle === false %}visuallyhidden{% endif %}">{{ title }}</h1>
  {{ content | safe }}

  {% block filters %}
  {% endblock %}

  {% set month = undefined %}

  {%- for post in posts | removePostsInCollection(['rss-club']) -%}
    {% if post.url %}

    {% if month !== post.date | formatDate(timeSeperatorFormat) %}
      <h2><span class="visuallyhidden">Items posted in</span>{{ post.date | formatDate(timeSeperatorFormat) }}</h2>
      {% set month = post.date | formatDate(timeSeperatorFormat) %}
    {% endif %}

    <article class="h-entry">
      <h3 class="p-name">
        <a {% if not showPermalink %}class="u-url" {% endif %}href="{% if post.data.url %}{{ post.data.url }}{% else %}{{ post.url }}{% endif %}">{{ post.data[titleProperty or 'title'] }}</a>
      </h3>
      {% if showDate %}
        <small>
          <time class="dt-published" datetime="{{ post.date | formatDate('YYYY-MM-DD hh:mm:ss') }}">
            {{ post.date | formatDate('Do of MMMM, YYYY') }}
          </time>
        </small>
      {% endif %}
      {% if showPermalink %}
        <small>
          <a class="u-url" href="{{ post.url }}">permalink<span class="visuallyhidden"> to {{ post.data.title }}</a>
        </small>
      {% endif %}
      {% if addSyndicationLinks %}
        {% if post.data.tweetUrl %}
          <small><a rel="syndication" class="u_syndication" href="{{ post.data.tweetUrl }}">This {{ collection }} on Twitter</a></small>
        {% endif %}
        {% if post.data.tootUrl %}
          <small><a rel="syndication" class="u_syndication" href="{{ post.data.tootUrl }}">This {{ collection }} on Mastodon</a></small>
        {% endif %}
      {% endif %}
      {% if post.data.description %}
        <p  {% if post.data.language === 'nl' %}lang="nl"{% endif %}>{{ post.data.description }}</p>
      {% else %}
        <div {% if post.data.language === 'nl' %}lang="nl"{% endif %}>
          {{ post.templateContent | safe }}
        </div>
      {% endif %}
    </article>
    {% endif %}
  {%- endfor -%}

  {% if pagination.pages.length > 1 %}
  <nav aria-labelledBy="pagination-title">
    <h2 id="pagination-title">Pagination</h2>
    <ol class="overview__pagination-list">
  {%- for pageEntry in pagination.pages %}
      <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
  {%- endfor %}
    </ol>
  </nav>
  {% endif %}

  {% if disableRssLink === false %}
  <hr class="overview-hr" />

  <aside>
    <a href="/{{page.fileSlug}}/feed.xml">{{title}} RSS feed</a>
  </aside>
  {% endif %}
</section>
{% endblock %}
