<script>
	(function (window, document) {
		'use strict';

		if (!window.sessionStorage.fontsLoaded) {
			loadFontfaceObserver();
		}
		
		function loadFontfaceObserver() {
			var script = document.createElement('script');
			script.src = '/fontfaceobserver.js';
			script.async = true;
			script.onload = function scriptOnLoad() {
				var fonts = [
					new window.FontFaceObserver('Fira Code')
				]
				
				Promise.all(fonts)
					.then(storeFontsLoadedInSession)
					.then(addFontLoadedClass)
					.catch(logFontObservingError)
			}
			
			document.head.appendChild(script);
		}
		
		function storeFontsLoadedInSession() {
			window.sessionStorage.fontsLoaded = true;
		}
		
		function addFontLoadedClass() {
			document.documentElement.className += ' fonts-loaded';
		}
		
		function logFontObservingError(error) {
			console.log('error while observing font', error);
		}
	}(window, document));
</script>
