.footer {
  margin-top: var(--margin-m);
  padding-top: var(--margin-s);
  padding-bottom: var(--margin-s);

  background-color: var(--code-background);
  color: var(--dark-background-text);
}

.footer a {
  color: #91c8ff;
}

.footer p {
  margin-bottom: 0;
}

.footer ul {
  margin-bottom: 0;
}

.footer__other-nav ul {
  display: flex;
  flex-direction: column;
}

.footer__other-nav li {
  margin-right: 0.5rem;
}

.footer__other-nav li::before {
  content: none;
}

@media (min-width: var(--screen-small)) {
  .footer__other-nav ul {
    flex-direction: row;
  }
}
