<footer class="footer">
	<div class="content-section">
    <nav class="footer__other-nav" aria-labelledby="footer-other-pages-nav">
      <span id="footer-other-pages-nav" class="visuallyhidden">Other pages</span>
      <ul>
        <li><a href="/bookmarks">Bookmarks</a></li>
      </ul>
    </nav>
		{% include '../sociallinks/sociallinks.njk' %}
    <p>&copy; 2020 Peter Goes</p>
	</div>
</footer>
