<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.url === '/'%}{{ site.title }} | {{ site.subtitle }}{% else %}{{ title }} | {{ site.title }}{% endif %}</title>
    
    <link rel="manifest" href="/manifest.json">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="shortcut icon" href="{% imageUrl '_assets/logo.svg', 32, 'png' %}" />
    <link rel="apple-touch-icon" href="{% imageUrl '_assets/logo.svg', 192, 'png' %}">
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="theme-color" content="{{ site.themeColor }}">
    <meta name="description" content="{{ description }}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="{{ socialLinks.twitter.username }}">
    <meta name="twitter:title" content="{% if page.url === '/'%}{{ site.title }} | {{ site.subtitle }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{% if page.featuredimage %}{{ site.url }}{{ page.url }}{{ page.featuredimage}}{% else %}{{ site.gravatar }}{% endif %}">
    
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.url === '/'%}{{ site.title }} | {{ site.subtitle }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{% if page.featuredimage %}{{ site.url }}{{ page.url }}{{ page.featuredimage}}{% else %}{{ site.gravatar }}{% endif %}">
    
    <meta name="google-site-verification" content="nqrUK41xnH-Xy6jkKrFZaB7WepOc-53Nein0KOSwizo" />

    {% if page.tags.length > 0 %}
      <meta name="keywords" content="{% for tag in page.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}">
    {% endif %}

    {% block head %}
    {% endblock %}

    <script type="module" src="/_includes/scripts.js" async></script>
    <style>{% postcss stylesheets, page.outputPath, process.env.DEVELOPMENT === 'true' %}</style>
  </head>

  <body class="{{ title | slug }}">
    {% block header %}{% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock%}
    
    <div class="debug-vertical-rythm"></div>

    <link rel="stylesheet" href="/styles/markdown-decorations.css">

    {% if not process.env.DEVELOPMENT %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45961555-1"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-45961555-1');</script>
    <script type="module">
      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent the mini-infobar from appearing on mobile
        e.preventDefault();
      });

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
    {% endif %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/cms/";
            });
          }
        });
      }
    </script>
  </body>
</html>
