---
  stylesheets:
    - blog.css
  featuredImageFallback: false
  category: Blog
  og: 
    type: artice
---

{% extends './page.njk' %}

{% block content %}
  <article class="blog">
        <header class="content-section">
                <h1 class="{% if showPageTitle === false %}visuallyhidden{% endif %}">{{ title }}</h1>
                <aside>
                    <small>Created at: {{ date | formatDate('Do of MMMM, YYYY') }}</small>
                </aside>
        </header>
    <section class="content-section">  
      {{ content | safe }}
    </section>
  </article>
{% endblock %}
