---
  stylesheets:
    - blog.css
  featuredImageFallback: false
  category: Blog
  og: 
    type: artice
---

{% extends './page.njk' %}

{% block content %}
  <article class="blog content-section h-entry">
    <header>
      <h1 class="{% if showPageTitle === false %}visuallyhidden{% endif %} p-name">{{ title }}</h1>
      <aside aria-label="post meta data">
          <small>
            Published at:
            <time class="dt-published" datetime="{{ date | formatDate('YYYY-MM-DD hh:mm:ss') }}">
              {{ date | formatDate('Do of MMMM, YYYY') }}
            </time>
          </small>
          <small class="blog__tags">
            Filled under:
            <ul class="blog__tags-list">
              {% for tag in tags | remove('blog') %}
                <li class="blog__tags-list-item p-category">{{ tag }}</li>
              {% endfor %}
            </ul>
          </small>
          <small>
            <a class="u-url"  href="{{ page.url }}">permalink<span class="visuallyhidden"> to this post</span></a>
          </small>
      </aside>
    </header>
    <section class="e-content">
      {{ content | safe }}
    </section>

    <footer aria-labelledby="comments">
      <h2 id="comments">Comments</h2>

      <p>
        I use <a href="https://indieweb.org/Webmention">WebMentions</a> via the <a href="https://indieweb.org">IndyWeb</a>. Do you have a comment?
        {% if tweetUrl %}
          <br />Reply on twitter under <a rel="syndication" class="u-syndication" href="{{ tweetUrl }}">this tweet</a>. Or
        {% else %}
          <br />Please
        {% endif %}
        respond via a post from your site!
      </p>
      <form class="webmentions-response-form" action="https://webmention.io/petergoes.nl/webmention" method="POST">
        <label for="webmentions-response-form-input">Url of your response</label>
        <input id="webmentions-response-form-input" type="url" name="source" placeholder="https://example.com/" required />
        <input type="hidden" name="target" value="{{ site.url + page.url }}" />
        <button type="submit">Send response</button> 
      </form>

      {% from './components/webmentions/interaction.njk' import interaction %}
      {% from './components/webmentions/text-responses.njk' import textResponses %}
      {% set webmentionsForUrl = webmentions | getWebmentionsForUrl(site.url + page.url) | removeSyndication(tweetUrl) %}
      {{ interaction(['like-of', 'repost-of'], 'Like', 'Likes and Reposts', webmentionsForUrl) }}
      {{ textResponses('in-reply-to', 'Reply', 'Replies', webmentionsForUrl) }}
      {{ textResponses('mention-of', 'Mention', 'Mentions', webmentionsForUrl) }}
    </footer>

    <aside aria-labelledby="this-is-me">
      <h2 id="this-is-me">This is me</h2>
      {% from './components/h-card/h-card.njk' import hCard %}
      {{ hCard(site.gravatar, 'author') }}
    </aside>

  </article>

{% endblock %}
