---
  stylesheets:
    - components/bookmark-filter/bookmark-filter.css
---

{% extends './overview.njk' %}

{% block filters %}
  {% include 'components/bookmark-filter/bookmark-filter.njk' %}
{% endblock %}
