---
  timeSeperatorFormat: MM-YYYY
  stylesheets:
   - overview.css
---

{% extends './page.njk' %}

{% block content %}
<section class="content-section">
  <h1 class="{% if showPageTitle === false %}visuallyhidden{% endif %}">{{ title }}</h1>
  {{ content | safe }}

  {% block filters %}
  {% endblock %}

  {% set month = undefined %}

  {%- for post in collections[collection] | reverse -%}
    {% if post.url %}

    {% if month !== post.date | formatDate(timeSeperatorFormat) %}
      <h2><span class="visuallyhidden">Items posted on</span>{{ post.date | formatDate(timeSeperatorFormat) }}</h2>
      {% set month = post.date | formatDate(timeSeperatorFormat) %}
    {% endif %}

    <article>
      <h3><a href="{% if post.data.url %}{{ post.data.url }}{% else %}{{ post.url }}{% endif %}">{{ post.data.title }}</a></h3>
      {% if showDate %}
        <small>{{ post.date | formatDate }}</small>
      {% endif %}
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% else %}
        {{ post.templateContent | safe }}
      {% endif %}
    </article>
    {% endif %}
  {%- endfor -%}

  <hr class="overview-hr" />

  <aside>
    <a href="/{{page.fileSlug}}/feed.xml">{{title}} RSS feed</a>
  </aside>
</section>
{% endblock %}
