{% extends './_base.njk' %}

{% block header%}
	{% include 'components/header/header.njk' %}
{% endblock %}

{% block content %}
	<article>
		<div class="content-section">
			<h1 class="{% if showPageTitle === false %}visuallyhidden{% endif %}">{{ title }}</h1>
			{{ content | safe }}
		</div>
	</article>
{% endblock %}

{% block footer %}
	{% include 'components/footer/footer.njk' %}
{% endblock%}
