---
  stylesheets:
    - reply.css
  category: Reply
  og: 
    type: artice
---

{% extends './page.njk' %}

{% block content %}
  <article class="reply content-section h-entry">
    <header>
      <h1 class="p-name"><a href="{{ url }}" class="u-in-reply-to">{{ title }}: {{ url }}</a></h1>
      <aside aria-label="post meta data">
          <small>
            Published at:
            <a href="{{ site.url + page.url }}" class="u-url">
            <time class="dt-published" datetime="{{ date | formatDate('YYYY-MM-DD hh:mm:ss') }}">
              {{ date | formatDate('Do of MMMM, YYYY') }}
            </time>
            </a>
          </small>
          <small>
            <a class="u-url"  href="{{ page.url }}">permalink<span class="visuallyhidden"> to this reply</span></a>
          </small>
      </aside>
    </header>
    <section class="e-content">
      {{ content | safe }}
    </section>

    <footer>
      <a href="{{ site.url }}" class="p-author h-card">
        <span class="p-given-name">Peter</span> <span class="p-family-name">Goes</span>
      </a>
    </footer>
  </article>

{% endblock %}
