---json
{
  "permalink": "bookmarks/feed{% if pagination.pageNumber > 0 %}-page-{{ pagination.pageNumber + 1 }}{% endif %}.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "PeterGoes.nl Bookmarks",
    "subtitle": "List of my bookmarks. Stored here for personal reference.",
    "url": "https://www.petergoes.nl/bookmarks",
    "feedUrl": "https://www.petergoes.nl/bookmarks/feed.xml",
    "author": {
      "name": "Peter Goes"
    }
  },
  "pagination": {
    "data": "collections.bookmark",
    "size": 20,
    "alias": "bookmarks",
    "reverse": true
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link  rel="self"/>
  <link href="{{ metadata.url }}"/>
  <link rel="self" href="https://www.petergoes.nl/bookmarks/feed{% if pagination.pageNumber > 0 %}-page-{{ pagination.pageNumber + 1 }}{% endif %}.xml"/>
  <link rel="first" href="https://www.petergoes.nl{{ pagination.firstPageHref }}"/>
  {% if pagination.next -%}
    <link rel="next" href="https://www.petergoes.nl{{ pagination.next }}"/>
  {%- endif %}
  {% if pagination.previous -%}
    <link rel="previous" href="https://www.petergoes.nl{{ pagination.previous }}"/>
  {%- endif %}
  <link rel="last" href="https://www.petergoes.nl{{ pagination.lastPageHref }}"/>
  <updated>{{ collections.bookmark | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <icon>{{ site.gravatar }}</icon>
  {%- for post in bookmarks %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.data.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      <a href="{{ post.data.url }}">Link to {{ post.data.title }}</a>
    </content>
  </entry>
  {%- endfor %}
</feed>
