---
permalink: /manifest.json
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.shortName }}",
  "short_name": "{{ site.shortName }}",
  "start_url": "./?homescreen=true",
  "display": "fullscreen",
  "orientation": "any",
  "background_color": "{{ site.themeColor }}",
  "theme_color": "{{ site.themeColor }}",
  "description": "{{ site.description }}",
  "icons": {% imageManifest 'src/_assets/logo.svg' %}
}
