---json
{
  "permalink": "replies/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "PeterGoes.nl Web Mention replies",
    "subtitle": "List of my web mention replies.",
    "feedUrl": "https://www.petergoes.nl/replies/feed.xml",
    "author": {
      "name": "Peter Goes"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <updated>{{ collections.reply | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <icon>{{ site.gravatar }}</icon>
  {%- for post in collections.reply | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://www.petergoes.nl{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>https://www.petergoes.nl{{ absolutePostUrl }}</id>
    <content type="html">
      {{ '<div>' }}
        {{ '<a href="' }}{{ post.data.url }}{{' ">Target</a>'}}
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      {{ '</div>' }}
    </content>
  </entry>
  {%- endfor %}
</feed>
