---json
{
  "permalink": "webmentions-to-send-feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "PeterGoes.nl Web Mention likes",
    "subtitle": "List of my web mention likes.",
    "feedUrl": "https://www.petergoes.nl/webmentions-to-send-feed.xml",
    "author": {
      "name": "Peter Goes"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <updated>{{ collections.webmentionsToSend | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <icon>{{ site.gravatar }}</icon>
  {%- for post in collections.webmentionsToSend %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://www.petergoes.nl{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>https://www.petergoes.nl{{ absolutePostUrl }}</id>
    <content type="html">
      {{ '<div class="e-content">' }}
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      {% if post.data.tags.includes('like') %}
        {{ '<a class="u-like-of" href="' }}{{ post.data.url }}{{ '">Like of '}}{{ post.data.url }}{{ '</a>' }}
      {% endif %}
      {% if post.data.tags.includes('bookmark') %}
        {{ '<a class="u-bookmark-of" href="' }}{{ post.data.url }}{{ '">Bookmark of '}}{{ post.data.url }}{{ '</a>' }}
      {% endif %}
      {% if post.data.tags.includes('reply') %}
        {{ '<a class="u-in-reply-to" href="' }}{{ post.data.url }}{{ '">Reply to '}}{{ post.data.url }}{{ '</a>' }}
      {% endif %}
      {% if post.data.tags.includes('note') %}
        {{ '<a href="https://brid.gy/publish/mastodon"></a>' }}
        {{ '<a href="https://brid.gy/publish/twitter"></a>' }}
        {{ '<a rel="webmention" href="https://www.brid.gy/publish/webmention"></a>' }}
      {% endif %}

      {% if post.data.silo === 'mastodon' or post.data.silo === 'twitter' %}
        {% if post.data.silo === 'mastodon' %}
          {{ '<a href="https://brid.gy/publish/mastodon"></a>' }}
        {% endif %}

        {% if post.data.silo === 'twitter' %}
          {{ '<a href="https://brid.gy/publish/twitter"></a>' }}
        {% endif %}
        {{ '<a rel="webmention" href="https://www.brid.gy/publish/webmention"></a>' }}
        {% endif %}
      {{ '</div>' }}
    </content>
  </entry>
  {%- endfor %}
</feed>
