html {
	background-color: @background-color-header;
}

img {
	width: 100%;
}

picture {
	display: block;
}

main {
	position: relative;
}

.hljs-wrapper {
	position: relative;
}

.hljs-wrapper:before {
	content: '';
	position: absolute;
	background-color: @background-color-header;
	width: 150%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 95vw;
}

.hljs {
	position: relative;
	background-color: @background-color-header;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0;
	padding-right: 0;
}
