/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

@grey: #61737e;
@purple: #c792ea;
@blue: #69a5ff;
@light-blue: #89ddff;
@green: #abe88d;
@orange: #f78556;
@yellow: #ffcb5a;
@white: #eeffff;

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: @background-color-header;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: @white;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-params,
.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-literal,
.hljs-link {
  color: @orange;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-regexp,
.hljs-selector-class {
  color: @blue;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: @purple;
}

.hljs-symbol,
.hljs-attribute,
.hljs-attr {
  color: @light-blue;
}

.hljs-string,
.hljs-class .hljs-title {
  color: @green;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: @yellow;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: @grey;
}
