@serif: Georgia, Times, 'Times New Roman', serif;
@sans-serif: 'Fira Code', sans-serif;
@monospace-prefered: 'Fira Code';
@monospace: 'Courier New', monospace;

@screen-xsmall: 18em; // 288px
@screen-small: 48em; // 768px
@screen-medium: 64em; // 1024px
@screen-large: 90em; // 1440px

@char-width: 0.625rem;
@line-height: 1.75rem;

@default-margin: 3rem;

@markdown-decoration-fade: 0.5;
@alert-fade: 50%;
@default-text-color: #444444;
@background-color: #FAFAFA;
@background-color-header: #263238;
@link-color: #1976D2;
@error-color: #F44336;
@success-color: #8BC34A;
@inline-code-color: #fa516d;
