html {
	background-color: var(--code-background);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
	width: 100%;
}

picture {
	display: block;
}

main {
	position: relative;
  flex: 1;
  margin-top: 3.5rem;
}

.home main {
  margin-top: 0;
}

pre.hljs-block {
	position: relative;
	margin-bottom: var(--line-height);
}

pre.hljs-block:before {
	content: '';
	position: absolute;
	background-color: var(--code-background);
	width: 150%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100vw;

}
@media screen and (min-width: var(--screen-small)) {
  pre.hljs-block:before {
    max-width: 95vw;
  }
}

code.hljs-block {
	position: relative;
	background-color: var(--code-background);
	padding-top: var(--line-height);
	padding-bottom: var(--line-height);
	padding-left: 0;
	padding-right: 0;
}
