.footer {
	margin-top: @margin-m;
	padding-top: @margin-s;
	padding-bottom: @margin-s;

	background-color: @code-background;
	color: @dark-background-text;

	a:before,
	a:after {
		color: @dark-background-text;
	}

  a {
    color: #91c8ff;
  }

	p {
		margin-bottom: 0;
	}
}
