.footer {
	margin-top: @default-margin;
	padding-top: @default-margin * .5;
	padding-bottom: @default-margin * .5;

	background-color: @code-background;
	color: @dark-background-text;

	a:before,
	a:after {
		color: @dark-background-text;
	}

	p {
		margin-bottom: 0;
	}
}
