{% macro hCard(img, _rel) %}
{% set rel = 'me' %}
{% if _rel %}
{% set rel = _rel %}
{% endif %}

<div class="h-card h-card-full{% if rel === 'author'%} p-author{% endif %}">
  <img
    rel="me"
    class="u-photo"
    src="{{ img }}"
    alt="Closeup of my face in black and white"
    width="112"
    height="112"
  />
  <a rel="{{ rel }}" class="u-url u-uid" href="https://www.petergoes.nl"><span class="p-name"><span class="p-given-name">Peter</span> <span class="p-family-name">Goes</span></span></a>
  <p class="p-note">Open web enthousiast</p>
  <p><span class="p-job-title">Front-end developer</span> @ <a class="p-org" href="https://www.correspondent.nl">De Correspondent</a>
  <p><span class="p-locality">Amsterdam</span>, <span class="p-country-name">The Netherlands</span></p>
</div>
{% endmacro %}
