<div class="h-card">
  <img
    rel="me"
    class="u-photo"
    src="{{ site.gravatar }}"
    alt="Closeup of my face in black and white"
    width="112"
    height="112"
  />
  <div>
    <p>
      <a rel="me" class="u-url u-uid" href="https://www.petergoes.nl">
        <span class="p-name">
          <span class="p-given-name">Peter</span>
          <span class="p-family-name">Goes</span>
        </span>
      </a>
      &nbsp;
      <span class="p-locality">Amsterdam</span>, <span class="p-country-name">The Netherlands</span>
    </p>
    <p class="p-note">Open web enthousiast</p>
    <p><span class="p-job-title">Front-end developer</span> @ <a class="p-org" href="https://www.voorhoede.nl">De Voorhoede</a>
  </div>
</div>
