.h-card-full {
  width: 100%;
}

.h-card-full img{
  width: initial;
  border-radius: 100%;
  float: left;
  margin-right: var(--line-height);
  margin-bottom: var(--line-height);
  width: calc(var(--line-height) * 4);
  height: calc(var(--line-height) * 4);
}

.h-card-full p:nth-child(2) {
  margin-bottom: 0;
}

.h-card-full a {
  white-space: nowrap;
}

@media (min-width: 529px) {
  .h-card-full p:nth-child(4) {
    margin-bottom: 0;
  }
}
