.webmention__text-response-item {
  padding: calc(calc(var(--line-height) * 0.5) - 2px);
  border: 1px solid black;
  margin-top: var(--line-height);
}

.webmention__text-response-item::before {
  content: initial;
}

.webmention__text-response-header img {
  border-radius: 100%;
  width: calc(var(--line-height) * 2);
  height: calc(var(--line-height) * 2);
  float: left;
  margin-right: 1rem;
}
.webmention__text-response-header a {
  display: block;
}

.webmention__text-response-list .webmention__text-response-footer {
  margin-top: 0;
  border: none;
  text-align: right;
}
